# Binaries and Build Artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Logs
*.log
logs/

# Data and Media
data/
temp/

# IDE and Editor
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Go
vendor/

# env
artwork/
.env

# testapp
test_app.sh